<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Analyse an URL</title>
    </head>
    <body>
    <form action="/summary" method="POST">
        <label for="url">URL</label>
        <input type="url" name="url" id="url" placeholder="https://www.google.com"
               pattern="http(s?)(:\/\/)((www\.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(\.[a-zA-z0-9\-_]+)(\/[^\s]*)?"
               title="https://www.google.com"
               required>
        <input type="submit" value="Submit">
    </form>
    </body>
</html>